/*<editor-fold desc="=== GLOBAL ===">*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

p,
li {
    color: #283136; /* TODO: remove black color*/
}

/*<editor-fold desc="~~~ supports">*/

.layout-center {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table; /* QUEST: table */
    clear: both;
}

/*</editor-fold>*/
/*<editor-fold desc="--- .btn">*/

.btn {
    display: inline-block;
    padding: 13px 54px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fb565a;
    border-radius: 3px;
    transition: background-color 0.1s, color 0.1s, box-shadow 0.1s;
    border: none;
}

.btn:hover {
    background-color: #e74246;
}

.btn:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.-green {
    background-color: #00ca74;
}

.-green:hover {
    background-color: #00bc6c;
}

.-green:active {
    background-color: #00aa62;
}

.-yellow {
    background-color: #efc84a;
}

.-yellow:hover {
    background-color: #eab534;
}

.-yellow:active {
    background-color: #e5a722;
}

.-gray {
    background-color: #eeeeee;
    color: black;
}

.-gray:hover {
    background-color: #dfdfdf;
}

.-gray:active {
    background-color: #d5d5d5;
    color: #a8a8a8;
}

/*</editor-fold>*/
/*</editor-fold>*/
/*<editor-fold desc="=== HEADER ===">*/

.header-main {
    padding-top: 50px;
    background-color: #eeeeee;
    font-size: 0;
}

/*<editor-fold desc="--- .nav-main">*/

.nav-main {
    display: inline-block;
    vertical-align: bottom;
}

.nav-main__logo {
    display: inline-block;
    width: 160px;
    vertical-align: bottom;
    transition: filter 0.2s, transform 0.2s;
}

.nav-main__logo:hover {
    transform: translate(-2px, -2px);
    filter: drop-shadow(3px 3px 2px #aaa); /* Test */
}

/* - .nav-main__menu - */

.nav-main__menu {
    display: inline-block;
    width: 840px;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    text-align: center;
}

.nav-main__item {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    font-size: 16px;
    line-height: 30px;
}

.nav-main__item.is-active a {
    cursor: default;
}

.nav-main__item.is-active:hover a {
    color: black;
}

.nav-main__item.is-active:active a {
    opacity: 1;
}

.nav-main__item.is-active::after {
    position: absolute;
    content: "";
    bottom: 6px;
    left: 23px;
    right: 23px;
    height: 2px;
    background-color: #fb565a;
}

.nav-main__item a {
    display: block;
    padding: 11px 23px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.1s, opacity 0.1s;
}

.nav-main__item a:hover {
    color: #fb565a;
}

.nav-main__item a:active {
    color: black;
    opacity: 0.3;
}

/*</editor-fold>*/
/*<editor-fold desc="--- .user-block">*/

.user-block {
    display: inline-block;
    vertical-align: bottom;
    text-align: right;
    width: 160px;
}

.user-block__basket {
    position: relative;
    display: inline-block;
    padding: 11px 0 11px 40px;
    vertical-align: bottom;
    font-size: 16px;
    line-height: 30px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.1s, opacity 0.1s;
}

.user-block__basket:hover {
    color: #fb565a;
}

.user-block__basket:active {
    color: rgba(0, 0, 0, 0.3); /* opacity for basket*/
}

.user-block__basket::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    content: "";
    width: 15px;
    height: 15px;
    background: transparent url("../img/sprite-icons.png") no-repeat -10px -96px;
}

/*</editor-fold>*/
/*<editor-fold desc="= catalog.html =">*/
/*</editor-fold>*/
/*<editor-fold desc="--- .page-header">*/

.page-header {
    margin: 0;
    padding-top: 78px;
    padding-bottom: 108px;
    font-size: 55px;
    line-height: 55px;
    font-weight: bold;
    color: black;
    text-align: center;
}

/*</editor-fold>*/
/*</editor-fold>*/
/*<editor-fold desc="=== MAIN ===">*/
/*<editor-fold desc="= index.html =">*/

.main-index {
    padding-bottom: 80px;
}

/*</editor-fold>*/
/*<editor-fold desc="--- .slider">*/

.slider__wrap {
    background-color: #eeeeee;
}

.slider {
    position: relative;
    width: 1160px;
    height: 430px;
    margin: 0 auto;
}

.slider input[type="radio"] {
    display: none;
}

.slider__controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, 0);
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.slider__controls label {
    display: inline-block;
    vertical-align: top;
    width: 8px;
    height: 8px;
    margin: 0 8px;
    background: white;
    border: 5px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 1s;
}

/*<editor-fold desc="^ - .slide">*/

.slide {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 77px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right bottom;
    transition: opacity 1s;
}

.slide__title {
    font-size: 55px;
    line-height: 55px;
    font-weight: bold;
    color: black;
}

.slide__description {
    margin: 0;
    margin-top: 25px;
}

.slide__btn {
    display: inline-block;
    padding: 13px 54px;
    margin-top: 40px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fb565a;
    border-radius: 3px;
}

/*</editor-fold>*/

#slide-1 {
    background-image: url(../img/slide-1.png);
}

#slide-2 {
    background-image: url(../img/slide-2.png);
}

#slide-3 {
    background-image: url(../img/slide-3.png);
}

#btn-1:checked ~ .slider__controls label[for="btn-1"],
#btn-2:checked ~ .slider__controls label[for="btn-2"],
#btn-3:checked ~ .slider__controls label[for="btn-3"] {
    background-color: #c1c1c1;
}

#btn-1:checked ~ #slide-1,
#btn-2:checked ~ #slide-2,
#btn-3:checked ~ #slide-3 {
    /*display: block;*/
    opacity: 1;
    z-index: 20;
}

/*</editor-fold>*/
/*<editor-fold desc="--- .services">*/

.services {
    margin-top: 80px;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 80px;
}

/* - .service - */

.service {
    float: left;
    width: 300px;
}

.service:not(:last-of-type) {
    margin-right: 100px;
}

.service__header {
    margin: 0;
    margin-top: 19px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

.service__description {
    margin: 0;
    margin-top: 15px;
    padding-right: 20px;
}

.service__btn {
    margin-top: 33px;
    padding-left: 39px;
    padding-right: 39px;
}

/*</editor-fold>*/
/*<editor-fold desc="--- .about-us">*/

.about-us {
    padding-bottom: 61px;
    border-bottom: 2px solid #eeeeee;
}

.about-us .column-left.spec {
    float: left;
    width: 660px;
    margin-top: 72px;
}

.about-us .column-right.statistic {
    float: right;
    width: 360px;
    margin-top: 40px;
}

/*<editor-fold desc="^ - .spec">*/

.spec__header {
    display: block;
    font-size: 45px;
    line-height: 45px;
    color: black;
}

.spec__description {
    margin: 0;
    margin-top: 34px;
}

.spec__list-header {
    display: block;
    margin: 0;
    margin-top: 40px;
    font-size: 16px;
    line-height: 24px;
    color: black;
    text-transform: uppercase;
}

.spec__service-list {
    margin: 0;
    margin-top: 23px;
    padding: 0;
    list-style: none;
}

.spec__service {
    position: relative;
    padding-left: 36px;
}

.spec__service:not(:last-of-type) {
    margin-bottom: 24px;
}

.spec__service::before {
    position: absolute;
    content: "";
    left: 1px;
    top: 50%;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

/*</editor-fold>*/

/*<editor-fold desc="^ - .statistic">*/

.statistic__header {
    display: block;
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: black;
    text-transform: uppercase;
}

.statistic__facts {
    margin: 0;
    padding: 0;
    list-style: none;
}

.statistic__fact {
    float: left;
    width: 100px;
    margin-top: 41px;
}

.statistic__fact:not(:last-of-type) {
    margin-right: 19px;
}

.statistic__value {
    display: block;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    color: black;
}

.statistic__value sup {
    font-size: 25px;
    top: -0.6em;
}

.statistic__name {
    margin-top: 18px;
    line-height: 18px;
}

/*</editor-fold>*/
/*</editor-fold>*/
/*<editor-fold desc="--- .clients">*/

.clients {
    border-bottom: 2px solid #eeeeee;
}

.clients__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clients__client {
    position: relative;
    float: left;
    width: 290px;
    height: 180px;
}

.clients__client:not(:last-of-type)::before {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
}

.clients__client img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0.2;
    transition: opacity 0.1s, transform 0.1s;
}

.clients__client img:hover {
    opacity: 1;
    transform: scale(1.1, 1.1);
}

/*</editor-fold>*/
/*<editor-fold desc="= catalog.html =">*/

.main-catalog {
    padding-top: 56px;
    padding-bottom: 60px;
}

/*</editor-fold>*/
/*<editor-fold desc="--- .aside-catalog">*/

.aside-catalog {
    float: left;
    width: 260px;
    /*min-height: 200px; !* temp *!*/
    /*background-color: deepskyblue;*/
}

/*<editor-fold desc="^ - .catalog-form">*/

.catalog-form {

}

.catalog-form__header {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: black;
}

.catalog-form__header:not(:first-of-type) {
    margin-top: 50px;
}

/*<editor-fold desc="^ - .price-filter">*/

.price-filter {
    margin-top: 50px;
    padding-bottom: 6px;
}

.price-filter__bar-controls {
    min-height: 80px;
    padding: 0 20px;
    background-color: #f1f1f1;
    border-radius: 4px;
    overflow: hidden; /* margin for bar*/
}

.price-filter__bar {
    margin-top: 39px;
    height: 2px;
    background-color: #d7dcde;
}

.price-filter__fill {
    position: relative;
    height: 100%;
    margin-left: 20%; /* control: min */
    margin-right: 32%; /* control: max */
    background-color: #00ca74;
}

.price-filter__toggle {
    position: absolute;
    z-index: 20;
    top: 0;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.price-filter__toggle._min {
    transform: translate(-50%, -50%);
    left: 0;
}

.price-filter__toggle._max {
    transform: translate(+50%, -50%);
    right: 0;
}

.price-filter__value-controls {
    margin-top: 14px;
}

.price-filter__layout._left {
    float: left;
}

.price-filter__layout._right {
    float: right;
}

.price-filter__label {
    text-transform: uppercase;
}

.price-filter__value {
    width: 60px;
    padding: 7px 10px;
    margin-left: 8px;
    border: none;
    background-color: #f1f1f1;
    font: inherit;
    text-align: center;
    border-radius: 4px;
}

/*</editor-fold>*/

.catalog-form__list {
    margin: 0;
    margin-top: 16px;
    padding: 0;
    list-style: none;
}

.catalog-form__item {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    padding-left: 36px;
}

.catalog-form__item:not(:first-of-type) {
    margin-top: 20px;
}

.catalog-form__item label {
    cursor: pointer;
}

.catalog-form__item label:hover {
    color: #e74246; /* =/ */
}

.catalog-form__item label:active {
    color: #c13135; /* =/ */
}

.catalog-form__item input[type="radio"],
.catalog-form__item input[type="checkbox"] {
    display: none;
}

.catalog-form___radio {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 4px solid #b8b8b8;
    border-radius: 50%;
}

.catalog-form__item input[type="radio"]:checked ~ .catalog-form___radio::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #b8b8b8;
}

.catalog-form___checkbox {
    position: absolute;
    left: 0;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    background: transparent url("../img/sprite-icons.png") no-repeat;
    background-position: -10px -10px;
}

.catalog-form__item input[type="checkbox"]:checked ~ .catalog-form___checkbox {
    background-position: -10px -53px;
}

.catalog-form__btn {
    margin-top: 50px;
    width: 100%;
    padding: 16px 14px;
}

/*</editor-fold>*/
/*</editor-fold>*/
/*<editor-fold desc="--- .shop">*/

.shop {
    float: right;
    width: 760px;
    /*margin-top: 22px;*/
    /*padding-top: 40px;*/
    /*padding-bottom: 40px;*/
    /*background-color: green;*/
}

/*<editor-fold desc="^ - .sort-type">*/

.sort-type {
    /*background-color: rgba(100, 0, 0, 0.2);*/
    text-align: right;
    font-size: 0;
    text-transform: uppercase;
}

.sort-type__header {
    float: left;
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}

.sort-type__list,
.sort-type__mode {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding-left: 16px;
    list-style: none;
}

.sort-type__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
}

.sort-type__item a {
    display: block;
    padding: 0 10px;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #cccccc;
}

.sort-type__item:hover a {
    color: #8b8b8b;
}

.sort-type__item:active a {
    color: black;
}

.sort-type__item.is-active a {
    color: black;
}

.sort-type__up,
.sort-type__down {
    display: inline-block;
    vertical-align: top;
}

.sort-type__up a,
.sort-type__down a {
    position: relative;
    display: block;
    min-width: 10px;
    padding: 0;
    margin-left: 20px;
    font-size: 0;
    line-height: 18px;
}

.sort-type__up a::after,
.sort-type__down a::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border: 5px solid transparent;
    background-color: transparent;
}

.sort-type__up a::after {
    border-top: 0;
    border-bottom: 10px solid #cccccc;
}

.sort-type__up:hover a::after {
    border-bottom-color: #8b8b8b;
}

.sort-type__up:active a::after {
    border-bottom-color: black;
}

.sort-type__up.is-active a::after {
    border-bottom-color: black;
}

.sort-type__down a::after {
    border-bottom: 0;
    border-top: 10px solid #cccccc;
}

.sort-type__up:hover a::after {
    border-top-color: #8b8b8b;
}

.sort-type__up:active a::after {
    border-top-color: #8b8b8b;
}

.sort-type__down.is-active a::after {
    border-top-color: black;
}

/*</editor-fold>*/
/*<editor-fold desc="^ - .shop__items">*/

.shop__items {
    font-size: 0;
    padding-top: 50px;
}

/*<editor-fold desc="^ - .item">*/

.item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 360px;
    height: 616px;
    border-radius: 2px;
    overflow: hidden;
    box-sizing: border-box;
    /*box-shadow: inset 0 0 10px black;*/
    /*outline: 20px solid #e5e5e5;*/
    border: 1px solid #eeeeee;
    /*outline-offset: -20px;*/
    margin-bottom: 38px;
    transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.item:hover {
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.25);
    border-color: #e1e1e1;
}

.item:nth-of-type(2n + 1) {
    margin-right: 40px;
}

.item__top-line {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-left: 16px;
    background-color: #e9e9e9;
    transition: background-color 0.2s ease-in-out;
}

.item:hover .item__top-line {
    background-color: #4d4d4d;
}

.item__top-line-circle {
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    /*line-height: 40px;*/
    margin-top: 12px;
    /*transform: translate(0, 50%);*/
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    /*transition: background-color 0.2s ease-in-out;*/
}

/*.item:hover .item__top-line-circle:nth-of-type(1) {*/
/*background-color: #df5f59;*/
/*}*/

/*.item:hover .item__top-line-circle:nth-of-type(2) {*/
/*background-color: #eebd40;*/
/*}*/

/*.item:hover .item__top-line-circle:nth-of-type(3) {*/
/*background-color: #76c84f;*/
/*}*/

.item__image {

}

.item__info {
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 28px 60px 42px 60px;
    text-align: center;
    background-color: #eeeeee;
    transform: translate(0, 100%);
    transition: transform 0.2s ease-in-out;
}

.item:hover .item__info {
    transform: translate(0, 0);
}

.item__header {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.item__description {
    margin: 0;
    margin-top: 14px;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.item__btn {
    box-sizing: border-box;
    min-width: 200px;
    margin-top: 32px;
    padding: 16px 10px;
    font-size: 16px;
    line-height: 18px;
    color: white;
    text-transform: uppercase;
}

/*</editor-fold>*/
/*</editor-fold>*/
/*<editor-fold desc="^ - .paginator">*/

.paginator {
    margin-top: 22px;
}

.paginator__btn {
    box-sizing: border-box;
    min-width: 50px;
    padding: 0 16px;
    margin-right: 8px;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
}

.paginator__btn.is-active {
    border: 3px solid #dbdbdb;
    line-height: 44px;
    background-color: white;
}

.paginator__btn.is-active:active {
    box-shadow: none;
    background-color: #d5d5d5;
}

.paginator__btn-next {
    padding: 0 78px;
}

/*</editor-fold>*/
/*</editor-fold>*/
/*</editor-fold>*/
/*<editor-fold desc="=== FOOTER ===">*/

.footer-main {
}

/*<editor-fold desc="--- .contacts">*/

.contacts {
    background: #eceae2 url("../img/map.jpg") no-repeat center;
    height: 416px;
    overflow: hidden;
}

.contacts__block {
    width: 219px;
    padding: 49px 50px 47px 50px;
    margin-top: 54px;
    background-color: white;
}

.contacts__header {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: black;
}

.contacts__address,
.contacts__phone {
    color: #666666;
    line-height: 18px;
}

.contacts__address {
    margin-top: 22px;
}

.contacts__phone {
    margin-top: 18px;
}

.contacts__btn {
    margin-top: 22px;
    line-height: 18px;
    padding: 16px 44px;
}

/*</editor-fold>*/
/*<editor-fold desc="--- .social">*/

.social {
    padding: 69px 0 70px 0;
}

.social__btn {
    position: relative;
    float: left;
    width: 78px;
    height: 78px;
    margin-right: 13px;
    border-radius: 50%;
    font-size: 0;
    background-color: #e1e1e1;
    transition: background-color 0.1s;
}

.social__btn::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/sprite-icons.png");
    background-repeat: no-repeat;
    transition: opacity 0.1s, transform 0.1s;
}

.social__btn.vk::before {
    background-position: -10px -327px;
}

.social__btn.fb::before {
    background-position: -10px -131px;
}

.social__btn.in::before {
    background-position: -10px -229px;
}

.social__btn:hover {
    background-color: #e74246;
}

.social__btn:hover::before {
    transform: scale(1.1, 1.1);
}

.social__btn:active {
    background-color: #d7373b;
}

.social__btn:active::before {
    opacity: 0.3;
}

.social__promo {
    float: left;
    margin-left: 126px;
    color: black;
}

.social__promo-header {
    display: block;
    margin: 0;
    margin-top: 6px;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

.social__promo-text {
    margin: 0;
    margin-top: 9px;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

/*</editor-fold>*/
/*</editor-fold>*/
/*<editor-fold desc="=== MODALS ===">*/

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*<editor-fold desc="--- .modal-feedback">*/

.modal-feedback {
    display: none;
    position: fixed;
    z-index: 110;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 760px;
    padding: 68px 100px 82px 100px;
    background-color: white;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-feedback__close {
    position: absolute;
    top: 76px;
    right: 86px;
    width: 28px;
    height: 28px;
    border: none;
    font-size: 0;
}

.modal-feedback__close::before,
.modal-feedback__close::after {
    position: absolute;
    content: "";
    top: 12px;
    left: 0;
    width: 28px;
    height: 4px;
    border-radius: 1px;
    background-color: #ffcccd;
}

.modal-feedback__close::before {
    transform: rotate(45deg);
}

.modal-feedback__close::after {
    transform: rotate(-45deg);
}

.modal-feedback__header {
    margin: 0;
    font-size: 45px;
    line-height: 46px;
    color: black;
}

/*<editor-fold desc="^ - .feedback-form">*/

.feedback-form {
    margin-top: 36px;
}

.feedback-form__group {
    margin-top: 30px;
    width: 100%;
}

.feedback-form__layout {
    float: left;
    width: 360px;
}

.feedback-form__layout:not(:last-of-type) {
    margin-right: 40px;
}

.feedback-form label {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: black;
}

.feedback-form input[type="text"],
.feedback-form textarea {
    box-sizing: border-box;
    width: 100%;
    margin-top: 6px;
    padding: 14px;
    border: 2px solid #d7dcde;
    border-radius: 2px;
}

.feedback-form textarea {
    min-height: 120px;
    resize: none;
}

.feedback-form__send {
    margin-top: 40px;
    padding: 16px 80px;
}

/*</editor-fold>*/
/*</editor-fold>*/
/*</editor-fold>*/