
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

/* ===== */

.header-main {
    padding: 50px 0;
    background-color: #eeeeee;
}

/* - .slider - */

.slider {
    position: relative;
    width: 1160px;
    height: 430px;
    margin: 0 auto;
}

.slider input[type="radio"] {
    display: none;
}

.slider_controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, 0);
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.slider_controls label {
    display: inline-block;
    vertical-align: top;
    width: 8px;
    height: 8px;
    margin: 0 8px;
    background: white;
    border: 5px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.slide {
    display: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 77px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.slide_title {
    font-size: 55px;
    line-height: 55px;
    font-weight: bold;
    color: black;
}

.slide_description {
    margin: 0;
    margin-top: 25px;
}

.slide_btn {
    display: inline-block;
    padding: 13px 54px;
    margin-top: 40px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fb565a;
    border-radius: 3px;
}

#slide-1 {
    background-image: url(../img/slide1.png);
}

#slide-2 {
    background-image: url(../img/slide2.png);
}

#slide-3 {
    background-image: url(../img/slide3.png);
}

#btn-1:checked ~ .slider_controls label[for="btn-1"],
#btn-2:checked ~ .slider_controls label[for="btn-2"],
#btn-3:checked ~ .slider_controls label[for="btn-3"] {
    background-color: #c1c1c1;
}

#btn-1:checked ~ #slide-1 {
    display: block;
}

#btn-2:checked ~ #slide-2 {
    display: block;
}

#btn-3:checked ~ #slide-3 {
    display: block;
}

